bin/
obj/
node_modules/
publish/
*.exe
*.apk
*.log
*.sqlite
*.db
*.tmp
*.bak
.vscode/
.idea/
.env
config.json
firebaseConfig.json
# IDE
.vs/
*.suo
*.user
*.vsidx
*.v2

# Binaries & archives
*.dll
*.pdb
*.zip

# Secrets
service-account.json
**/service-account.json
firebaseConfig.json
config.json

secret/
